<div class="s-q-item q-infographic">
  {% if displayOptions.hideTitle !== true %}<h2 class="subtitle_main">{{ item.title }}</h2>{% endif %}
  {%- if (item.subtitle and item.subtitle !== '') %}
    <h2 class="figure__caption">{{ item.subtitle }}</h2>
  {%- endif %}
  {%- for image in images %}
    <amp-img alt="Hummingbird"
      src="{{imageServiceUrl}}/resize?url={{ image.url | urlencode }}&width=560&nocrop=true"
      width="{{ image.width }}"
      height="{{ image.height }}"
      layout="responsive"
      srcset="{{imageServiceUrl}}/resize?url={{ image.url | urlencode }}&width=560&nocrop=true 560w,
      {{imageServiceUrl}}/resize?url={{ image.url | urlencode }}&width=360&nocrop=true 360w">
    </amp-img>
  {%- endfor %}
  {%- include "./footer.html" %}
</div>


