{%- for image in images %}
  <picture style="padding-bottom: {{ image.height / image.width * 100 }}%;">
    <source type="image/webp" srcset="{{imageServiceUrl}}/resize?url={{ image.url }}&width={{ width }}&nocrop=true&type=webp 1x, {{imageServiceUrl}}/resize?url={{ image.url }}&width={{ width*2 }}&nocrop=true&type=webp 2x">
    <source srcset="{{imageServiceUrl}}/resize?url={{ image.url }}&width={{ width }}&nocrop=true&type=webp 1x, {{imageServiceUrl}}/resize?url={{ image.url }}&width={{ width*2 }}&nocrop=true&type=webp 2x">
    <img src="{{imageServiceUrl}}/resize?url={{ image.url }}&width={{ width }}&nocrop=true">
  </picture>
{%- endfor %}
